.operation-icon{
    cursor: pointer;
    height: 24px;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    width: 24px;
}

.order-title{
    padding-left: 20px;
    padding-top: 10px;
}

.aot-form {
    justify-content: center;
    padding-bottom: 20px;
}

.aot-form select,
.aot-form input {
    width: 200px;
}

.aot-form label {
    margin-right: 10px;
}

.aot-form>div {
    margin-right: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

.form-inline .form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
}

.form-inline label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
}